/* Dhruva Page Layout */

.hero-detail {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

/* Profile Section */

.hero-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.hero-profile img {
    width: 220px;
    border-radius: 15px;
    box-shadow: 0 0 25px #00ffff;
}

.hero-info {
    text-align: center;
}

.hero-info h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #00ffff;
}

.hero-info p {
    font-size: 15px;
    line-height: 1.6;
    color: #ddd;
}

/* Powers */

.powers {
    margin: 30px 0;
}

.powers h2 {
    color: #00ffff;
    margin-bottom: 10px;
}

.powers ul {
    list-style: none;
}

.powers li {
    background: #111;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px #00ffff;
}

/* Comics Grid */

.comics-section h2 {
    color: #00ffff;
    margin-bottom: 15px;
}

.comics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 15px;
}

.comic-card {
    background: #111;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 15px #ff00cc;
    transition: transform 0.3s;
}

.comic-card:hover {
    transform: translateY(-5px);
}

.comic-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.comic-card span {
    display: block;
    padding: 8px;
    font-size: 13px;
}

/* Desktop */

@media(min-width: 700px) {
    .hero-profile {
        flex-direction: row;
        text-align: left;
    }

    .hero-info {
        text-align: left;
    }
  }
