body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: Arial;
}

.top-bar {
    background: #111;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.pdf-container {
    width: 100%;
    height: calc(100vh - 50px);
}

#pdfViewer {
    width: 100%;
    height: 100%;
    border: none;
}
