*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background: radial-gradient(circle at top, #0f0f0f, #000);
    color:#00ffcc;
    font-family:Arial, sans-serif;
    overflow:hidden;
}

header{
    height:60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 15px;
    background:#111;
    border-bottom:1px solid #00ffcc;
    box-shadow:0 0 15px #00ffcc;
}

.controls button,
header button{
    background:#000;
    color:#00ffcc;
    border:1px solid #00ffcc;
    padding:6px 10px;
    margin:0 2px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#00ffcc;
    color:#000;
    box-shadow:0 0 10px #00ffcc;
}

.viewer{
    display:flex;
    justify-content:center;
    align-items:center;
    height:calc(100vh - 60px);
    overflow:auto;
}

canvas{
    box-shadow:0 0 20px #00ffcc;
    max-width:100%;
}
