body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar {
    width: 100%;
    padding: 10px;
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reader-container {
    width: 100%;
    max-width: 900px;
    height: 80vh;
}

#book {
    width: 100%;
    height: 100%;
}

.page {
    background: #111;
}

.page img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.controls {
    margin: 10px;
}

button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
  }
