body {
    margin: 0;
    background: #000;
    font-family: Arial, sans-serif;
    color: #fff;
}

.reader-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Top Bar */
.top-bar {
    background: #111;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Bottom Bar */
.bottom-bar {
    background: #111;
    padding: 10px;
    text-align: center;
}

button {
    padding: 8px 15px;
    background: #00ffcc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #00ccaa;
}

/* Canvas Area */
.canvas-container {
    flex: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#pdf-canvas {
    max-width: 100%;
}

#loading {
    position: absolute;
    font-size: 20px;
    display: none;
}

/* Mobile */
@media(max-width:600px){
    button {
        padding: 6px 10px;
        font-size: 12px;
    }
  }
